#CreateDoctor {
    .form-container {
      width: 908px;
      margin: 0 auto;
      padding: 20px;
      font-family: Arial, sans-serif;
      border-radius: 40px 0 0 0;
      background: #f8f8f8; /* Set a light background color */
      border: 1px solid #ccc; /* Add a border for a subtle visual separation */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    h2 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 30px;
      color: #333; /* Dark text color */
    }
  
    h3 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #333; /* Dark text color */
    }
  
    label {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 5px;
      color: #333; /* Dark text color */
    }
  
    input[type="text"],
    input[type="email"],
    input[type="date"],
    input[type="password"] {
      width: 100%;
      height: 62px;
      border: 1px solid #ccc; /* Add a border to form fields */
      background: #fff;
      padding: 8px;
      font-size: 16px;
      margin-bottom: 15px;
      border-radius: 5px;
      box-sizing: border-box; /* Fix the input width calculation */
    }
  
    .gender-options {
      display: flex;
      align-items: center;
      margin-top: 5px;
    }
  
    .gender-options label {
      margin-right: 20px;
      font-size: 16px;
      color: #333; /* Dark text color */
    }
  
    .action-buttons {
      text-align: center;
      margin-top: 30px;
    }
  
    button[type="submit"] {
      padding: 10px 20px;
      font-size: 18px;
      font-weight: bold;
      border: none;
      cursor: pointer;
      background-color: #007bff; /* Blue color for the button */
      color: #fff; /* Text color for the button */
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }
  
    button[type="submit"]:hover {
      background-color: #0056b3; /* Darker blue color on hover */
    }
  
    /* Custom styling for file input */
    input[type="file"] {
      display: none;
    }
  
    .custom-file-upload {
      border: 1px solid #ffffff;
      display: inline-block;
      cursor: pointer;
      padding: 5px 10px;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }
  
    .custom-file-upload:hover {
      background-color: #eee;
    }
  
    .image-preview {
      width: 200px;
      height: auto;
      border-radius: 5px; /* Add a border-radius to the image */
    }
  
    .image-preview img {
      max-width: 100%;
      max-height: 200px;
      object-fit: contain;
    }
  }
  