#CreateDoctor {
    .form-container {
        .mb-3 {
            margin-left: 20rem; // Áp dụng cách lề trái
            margin-top: 1rem; // Áp dụng cách lề trên
        }

        .form-label {
            margin-left: 1rem; // Áp dụng cách lề trái cho nhãn
        }


    }
}