#register {
  .container-small {
    max-width: 800px;
    margin: 0 auto;
  }

  .custom-input {
    width: 100%; /* Tăng chiều ngang của các ô nhập liệu lên 100% */
    font-size: 18px; /* Thay đổi kích thước chữ tùy chỉnh tại đây */
    padding: 12px 20px; /* Thay đổi giá trị padding theo ý muốn */
  }

  /* Ghi đè kích thước chữ cho các label trong form */
  label {
    font-size: 14px; /* Thay đổi kích thước chữ tùy chỉnh tại đây */
  }

  button[type='submit'] {
    display: block;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  button[type='submit']:hover {
    background-color: #0069d9;
  }

  button[type='submit']:focus {
    outline: none;
  }

  button[type='submit']:active {
    transform: translateY(1px);
  }
}
