#ViewBookingDetail{
 
.view-booking-detail{

  background-color: #fff;
  margin: 60px;
  padding: 100px;
  text-align: justify;
  border-radius: 10px;
  font-size: x-large;
}
.nuthuylich{
  text-align: center;
}
  
}
