#DoctorList {

  .doctor-list {
    padding: 60px;
    background-color: #fff;
  }

  .doctor-list__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 60px;
  }
//   .doctor-item__specialization{
//     color: #f7f7f7;
//   }
// .doctor-item{
//   color: #f7f7f7;
// }
  .doctor-list__items {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .doctor-item {
    display: flex;
    align-items: center;
    padding: 40px;

  }

  .doctor-item__avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }

  .doctor-item__details {
    flex-grow: 1;
  }

  .doctor-item__name {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .doctor-item__specialization {
    font-size: 14px;
    color: #555;
  }

  .view-details-link {
    margin-left: 10px;
  }

  .status-button {
    margin-left: 10px;
  }

  .btn-success {
    background-color: #28a745;
    color: #fff;
  }

  .btn-danger {
    background-color: #dc3545;
    color: #fff;
  }

  .confirm-button {
    margin-right: 10px;
  }
  .doctor-item{
    background-color: #fff;
  }
  .doctor-list__title{
    color: #161616;
  }
  .doctor-list__items{
    background-color: #fff;
  }
}
