
  
  .addocupdate{
    background-color: aliceblue;
    padding: 60px;
    margin: 60px;
    border-radius: 10px;
  }

.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.689);
  display: flex;
  justify-content: center;
  align-items: center;
  
  .confirmation-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
  }
}
.loading-spinner {
  border: 5px solid rgba(0, 0, 0, 0.3);
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
