
  
  .addocupdate{
    background-color: aliceblue;
    padding: 60px;
    margin: 60px;
    border-radius: 10px;
  }

.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.689);
  display: flex;
  justify-content: center;
  align-items: center;
  
  .confirmation-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
  }
}