#LoginBar {
  .card {
    border-radius: 10rem;
  }

  .card-body {
    padding: 10rem !important;
    text-align: center;

    h2 {
      margin-bottom: 2rem;
      font-size: 2.5rem; /* Đặt kích thước cho thẻ h2 */
      color: #007bff; /* Màu sắc cho thẻ h2 */
    }

    form {
      .form-group {
        margin-bottom: 1.5rem;
        //...

        label {
          display: block;
          margin-bottom: 0.5rem;
        }

        input {
          width: 100%;
          padding: 1rem;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 1rem;
        }
      }

      .error-message {
        color: red;
        margin-top: 1rem;
      }

      button[type='submit'] {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-bottom: 10px;
    }
    
    button[type='submit']:hover {
        background-color: #0069d9;
    }
    
    button[type='submit']:focus {
        outline: none;
    }
    
    button[type='submit']:active {
        transform: translateY(1px);
    }
    }

    .login-links {
      margin-top: 1.5rem;

      a {
        margin-right: 1rem;
        text-decoration: none;
        color: #666; /* Màu sắc cho các liên kết */
      }
    }

    .social {
      margin-top: 1.5rem;

      .google-login-button {
        // Các phần CSS khác
        background-color: #dd4b39; /* Màu sắc cho nút Đăng nhập bằng Google */
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        padding: 1rem;
        width: 100%;
      }
    }
  }
  
}