#LoginBar {
  .card {
    border-radius: 1rem;
    margin: 30px;
    margin-left: 35%;
    width: 30%;
    display: flex;
    padding: 60px;
    height: 600px;
  }
  .btn {
    margin-top: 30px;
  }
  .nutdangky {
    margin-right: 20px;
  }

  /* CSS for loading overlay */
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .loading-content {
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
  }

  .loading-text {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
  }
}
