
.treatment-profile-page {
  padding: 20px;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
    margin: 60px;
  }

  .profile-list {
    .profile-card {
      background-color: #f5f5f5;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;

      h3 {
        color: #333;
      }

      p {
        color: #777;
      }

      .detail-button {
        text-decoration: none;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        cursor: pointer;
        background-color: #4caf50;
        color: #fff;
        display: inline-block;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #45a049;
        }
      }
    }
  }

  .pagination {
    margin-top: 20px;
    display: flex;
    align-items: center;

    .paging-btn {
      padding: 5px 10px;
      border: none;
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;
      background-color: #f0f0f0;
      color: #333;
      margin: 0 5px;
      display: inline-block;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #ccc;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }
    }

    span {
      font-size: 16px;
      font-weight: bold;
      margin: 0 5px;
    }
  }
  
  .customer-booking-loading {
    display: block;
    text-align: center;
  }
  .card {
    text-decoration: none;
    transition: 0.5s;

    &:hover {
      box-shadow: white 5px 0 20px;
    }
  }
  .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Màu nền hơi trong suốt */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .spinner-border {
    width: 3rem; /* Kích thước của spinner */
    height: 3rem; /* Kích thước của spinner */
    border: 3px solid rgba(0, 0, 0, 0.3); /* Màu của border */
    border-right-color: transparent; /* Màu sắc mặt trước của spinner */
    border-radius: 50%; /* Làm tròn để tạo spinner hình tròn */
    animation: spin 1s linear infinite; /* Hiệu ứng quay của spinner */
  }
  
  /* Keyframe cho hiệu ứng quay của spinner */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
