.reset-appointment-page {
  margin: 12vmin;
  padding: 60px;
  display: block;
  border-radius: 10px;
  min-height: 800px;
}
.reset-appointment-page{
  background-color: #ffffff;
}

.doctor-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.doctor-name {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.doctor-information {
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.info-item {
  margin-bottom: 10px;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

p {
  font-size: 14px;
  margin: 0;
}




.time-option {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: #333;
  font-size: 14px;
  cursor: pointer;

  &.active {
    background-color: #4caf50;
    color: #fff;
  }
}

.confirmation-button {
  padding: 12px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin: 10px; /* Khoảng cách nút Xác nhận với các phần tử khác */

  &:disabled {
    background-color: #d2d2d2;
    cursor: not-allowed;
  }
}

.slots-container {
  width: 100%;
  margin-top: 20px; /* Khoảng cách giữa block chọn ngày và block các lịch hẹn */

  h3 {
    margin-bottom: 10px;
  }

  .slots-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .slot-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;

   
  }
  .thongtin{
    display: contents;
    margin: 20px;
  }
  
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-text {
  font-size: 20px;
  font-weight: bold;
  color: #555;
}

/* Thêm animation cho chữ "Loading..." */
@keyframes loadingAnimation {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
  100% {
    content: "Loading";
  }
}

.loading-text::after {
  content: "Loading";
  animation: loadingAnimation 1s infinite;
}
