/* ChangePass.scss */
#ChangePass {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  form {
    max-width: 400px;
    width: 100%;

    .form-group {
      margin-bottom: 1.5rem;
    }

    label {
      display: block;
      margin-bottom: 0.5rem;
    }

    input {
      width: 100%;
    }

    .error-message {
      color: red;
      margin-bottom: 1rem;
    }

    button[type='submit'] {
      width: 100%;
    }
    .doimk{
      background-color: aliceblue;
      padding: 60px;
      border-radius: 10px;
    }
    .tieude{
      margin-top: 15px ;
      margin-bottom: 30px;
    }
  }
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
