.page-container {
    margin: 20px;
  }
  
  .admin-create-slot__container {
    background-color: #f9f9f9;
    padding: 60px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .admin-create-slot__search-doctor {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .admin-create-slot__search-doctor input {
    padding: 5px;
    margin-right: 5px;
  }
  
  .admin-create-slot__pagination {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 10px;
  }
  
  .admin-create-slot__pagination li {
    margin-right: 5px;
  }
  
  .admin-create-slot__pagination button {
    padding: 5px 10px;
    border: none;
    background-color: #f2f2f2;
    cursor: pointer;
  }
  
  .admin-create-slot__pagination button.active {
    background-color: #ccc;
  }
  
  .admin-create-slot__doctor-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    list-style-type: none;
  }
  
  .admin-create-slot__doctor-list li {
    cursor: pointer;
    border: 1px solid transparent;
    padding: 10px;
    transition: all 0.3s ease;
  }
  
  .admin-create-slot__doctor-list li:hover {
    border-color: #ccc;
  }
  
  .admin-create-slot__doctor-list li.selected-doctor {
    background-color: #f2f2f2;
  }
  
  .admin-create-slot__doctor-list li.selected-doctor p {
    font-weight: bold;
    color: #333;
  }
  
  .admin-create-slot__doctor-list img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .admin-create-slot__pagination {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 10px;
  }
  
  .admin-create-slot__pagination li {
    margin-right: 5px;
  }
  
  .admin-create-slot__pagination button {
    padding: 5px 10px;
    border: none;
    background-color: #f2f2f2;
    cursor: pointer;
  }
  
  .admin-create-slot__pagination button.active {
    background-color: #ccc;
  }
  
  .pagination-number {
    color: #fff;
    font-weight: bold;
    background-color: #333;
    padding: 5px;
    border-radius: 5px;
  }
  
  .admin-create-slot__schedule-container {
    margin-top: 20px;
  }
  
  .admin-create-slot__schedule-container h3 {
    margin-bottom: 10px;
  }
  
  .admin-create-slot__schedule-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .admin-create-slot__schedule-container input[type="date"] {
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .admin-create-slot__schedule-container div {
    margin-bottom: 10px;
  }
  
  .admin-create-slot__schedule-container div input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .admin-create-slot__save-button {
    margin-top: 10px;
  }
  
  .admin-create-slot__schedule-container div:last-child {
    margin-bottom: 0;
  }
  
  .admin-create-slot__created-schedule {
    margin-top: 20px;
  }
  
  .admin-create-slot__created-schedule h3 {
    margin-bottom: 10px;
  }
  
  .admin-create-slot__created-schedule p {
    margin-bottom: 5px;
  }
  
  .admin-create-slot__schedule-table {
    margin-top: 20px;
    width: 100%;
  }
  
  .admin-create-slot__schedule-table th,
  .admin-create-slot__schedule-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .admin-create-slot__schedule-table th {
    font-weight: bold;
  }
  
  .admin-create-slot__schedule-table tbody tr:last-child td {
    border-bottom: none;
  }
  /* CSS for Loading Overlay */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền có độ mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Đảm bảo hiển thị phía trên tất cả các phần tử khác */
}

.loading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 1rem;
}

.loading-message {
  color: white;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
