


.patient-profile {
    width: 600px;
    min-height: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 60px;
    border-radius: 10px;
  }
  
  .info-item {
    margin-bottom: 10px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .records {
    margin-top: 20px;
  }
  
  .view-details-button {
    margin-left: 10px;
  }
  
  .pagination {
    margin-top: 20px;
    display: block;
    margin: 25%;
  }
  
  .pagination-button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #000000;
    background-color: #000000;
    cursor: pointer;
  }
  
  .pagination-button.active {
    background-color: #000000;
  }
  
  .actions {
    margin-top: 20px;
  }
  
  .add-record-button {
    padding: 5px 10px;
    background-color: #2196f3;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-content {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .popup h3 {
    margin-top: 0;
  }
  
  .popup input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .popup-buttons {
    text-align: center;
  }
  
  .popup-button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  .thelink{
    text-decoration: none ;
    color: #fff;
  }
  .btnlink{
   margin-left: 20px;
  }
  .carlink{
    margin-top: 20px;
  }
  .btntreatment{
    margin-bottom: 40px;
  }
