.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loading-text {
    font-size: 20px;
    font-weight: bold;
  }
  
.update-profile{
    background-color: aliceblue;
    margin: 60px;
    padding: 60px;
}
.form-label{
    display: flex;
   
    
}
.form-input{
    display: inline;
    padding: 10px 70px;
}