/* banner.css */

/* Đặt nền là hình ảnh */
.ct {
    
    background-image: url('../../assets/images/bannercuoi_Mesa\ de\ trabajo\ 1.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Khoảng cách lề trái */
    height: 100vh;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box div {
    text-align: center;
    font-size: 24px;
}

.appointment-btn {
    padding: 10px 20px;
    font-size: 24px;
    background-color: #f51f03;
    /* Màu nền */
    color: #ffffff;
    /* Màu chữ */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.appointment-btn:hover {
    background-color: #b3330c;
    /* Màu nền khi di chuột qua */
}

.appointment-btn:active {
    background-color: #ffa703;
    /* Màu nền khi được nhấn */
}
/* banner.css */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 50px auto;
  }
  
  #bk-btn{
    padding: 1rem;
    position: absolute; /* Add this */
    right: 10%; /* Also add this for position: absolute to work properly */
    top: 70%; /* Also add this for position: absolute to work properly */
    border-radius: 15%;
    background-color: #f51f03;
    color: aliceblue;
    border: 0;
}
