.change-pass {
    max-width: 400px;
    margin: 0 auto;
}

h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.error-message {
    color: red;
    margin-bottom: 16px;
}

.form-group {
    margin-bottom: 16px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* ChangePass.css */

.container {
    max-width: 1322px;
    margin: 0 auto;
    padding: 20px;
    height: 657px;
    flex-shrink: 0;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

.table th {
    background-color: #f2f2f2;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #e3e3e3;
}