@import '~bootstrap/scss/bootstrap';

@import '/src/assets/scss/customBootstrap.scss';

// import custom bootstrap

// * {
//   /* width: 100%; */
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }

// .App-logo {
//   height: 5vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   /* Thay đổi giá trị background-color thành màu mong muốn */
//   min-height: 10vh;
//   /* display: flex; */
//   /* flex-direction: column; */
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }


// .App-link {
//   color: #61dafb;
// }


// .nav nav {
//   width: 100%;
//   /* position: fixed; */
//   display: flex;
//   justify-content: space-between;
//   background-color: rgba(0, 0, 0, 0.767);
//   align-items: center;
//   text-decoration: none;

// }

// .nav {
//   display: flex;
// }


// .nav-list {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   text-decoration: none;
//   list-style-type: none;
//   padding: 10px;
// }

// .nav-list a {
//   /* display: flex; */
//   padding: 10px 10px;
//   color: azure;
//   align-items: center;
//   text-decoration: none;
// }

// .nav-list--element:hover {
//   background-color: rgb(247, 128, 30);
//   padding: 10px 10px;
//   border-radius: 10%;
// }

// img:hover {
//   color: unset;
//   padding: 0;
// }

// .nav-list--prior a {
//   color: rgb(218, 218, 218);
//   text-align: right;
//   text-decoration: none;


// }

// .nav-list--prior {
//   border-radius: 10%;
//   background-color: orange;
//   margin-right: 5vmin;
//   /* border: 10px; */
//   padding: 10px 15px 10px 15px;
// }

// footer {
//   /* position: absolute; */
//   margin-top: auto;
//   background-color: rgba(255, 221, 0, 0.851);
//   text-align: center;
//   left: 0;
//   bottom: 0;
//   /* display: flexbox; */
//   height: 10vmin;
//   width: 100vw;
// }

// body {

//   min-height: 100vh;
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   background-color: rgb(116, 189, 253);
// }

// .App {
//   background-color: rgb(116, 189, 253);
//   min-height: 100vh;
//   width: 100%;
//   position: relative;
//   /* display: flex; */
//   /* flex-direction: column; */
//   overflow-x: auto;
// }

// .options-modal {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   background-color: white;
//   border-radius: 8px;
//   padding: 20px;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//   width: 300px;
// }

// .options-list {
//   list-style-type: none;
//   padding: 0;
//   margin: 0;
// }

// .options-list li {
//   margin-bottom: 10px;
// }

// .options-list li a {
//   color: #333;
//   text-decoration: none;
// }

// .options-list li a:hover {
//   color: #000;
//   font-weight: bold;
// }