// ViewTreatmentProfile.scss

// Trình bày chung cho container chứa thông tin trang
.profile-container {
  display: block;
  margin: auto;
  padding: 20px;
  min-width: 600px;
  min-height: 650px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;


  // Tiêu đề h2
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }

  // Phần chi tiết của trang
  .profile-details {
    margin-bottom: 20px;

    p {
      margin: 5px 0;
    }

    strong {
      font-weight: bold;
    }
  }

  // Nút xác nhận
  .confirm-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }

  // Phần danh sách Treatment Ins
  .treatment-ins {
    margin-top: 20px;

    h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 10px;

      p {
        margin: 5px 0;
      }

      strong {
        font-weight: bold;
      }
    }
  }
}
